.tasks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tasks-item {
    height: 100%;
}

.tasks-not-started, .tasks-in-progress {
    border-right: var(--lwc-borderWidthThin, 1px) dashed gray;
}