.app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.pokedex-container {
    width: 100%;
    min-height: 480px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
}

.pokedex-left {
    width: 100%;
    background-color: #770000;
    height: 100%;
}

.pokedex-rigth {
    width: 100%;
    background-color: #770000;
    height: 100%;
}

.pokemon-image {
    width: 100%;
    margin-bottom: 1rem;
}

.spin-container {
    min-height: 320px;height: auto;
    background-color: white;
    box-shadow: inset 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.image-card {
    width: 100%;
    min-height: 320px;height: auto;
    padding: 1rem;
    background-color: white;
    box-shadow: revert;
    box-shadow: inset 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    img {
        width: 100%;
    }
    h2{
        width: 100%;
        padding: 0.5rem 0;
    }
}

.empty-image {
    width: 100%;
    min-height: 320px;height: auto;
    background-color: white;
    box-shadow: inset 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-container {
    height: 100%;
}

.details-card_empty, .details-card {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: inset 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-card {
    opacity: 0;
    display: none;
    padding: 1rem;
    text-align: center;
}

.details-card.show {
    display: block;
    opacity: 1;
    animation-duration: 1s;
    animation-name: fade-in;
}
.ability-background {
    background-color: #96D9D6;
    background-image: linear-gradient(145deg, #96D9D6, #B6E6E3);
    color: #1E4A4A; 
    border: 1px solid #1E4A4A;
}

.move-background {
    background-color: #B7B7CE;
    background-image: linear-gradient(145deg, #B7B7CE, #D8D8E8);
    color: #3A3A4A; 
    border: 1px solid #3A3A4A;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    .pokedex-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 901px) and (max-width: 1000px) {
    .pokedex-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .pokedex-container {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {
    .pokedex-container {
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 1501px){
    .pokedex-container {
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}